.ant-layout {
  /* min-height: 100vh; */
}

.ant-layout-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-layout-header .ant-typography {
  color: rgb(216, 212, 212);
  margin: 0;
}

.ant-layout-sider {
  overflow: 'auto';
  height: '100vh';
  position: 'sticky';
  top: 0;
  bottom: 0;
  scrollbar-width: 'thin';
  scrollbar-gutter: 'stable';
}

.ant-menu-item {
  white-space: normal !important; /* Wrap around to next line as needed */
  height: auto !important;        /* Stretch to allow as many lines as needed */
  line-height: 1.2 !important;    /* Shrink line height to reasonable value */
  padding: 0.5rem 0;
}

.ant-layout-content {
  padding: 1rem;
}
