.ant-layout-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ant-layout-header .ant-typography {
  color: rgb(216, 212, 212);
  margin: 0;
}

.ant-layout-content {
  padding: 1rem;
}
